**/.dockerignore
**/docker-compose*
**/Dockerfile*

**/.gitignore
**/.git

**/node_modules
**/.next
**/build
**/.cache
**/charts

**/obj
**/dist
**/.classpath
**/.toolstarget

**/.vs
**/.vscode
**/.project
**/.settings
**/*.*proj.user

**/secrets.dev.yaml
**/values.dev.yaml

**/compose*
**/*.dbmdl
**/*.jfm

LICENSE
README.md