# Ignore Docker image files and other similar files and folders
*Dockerfile*
.git
.results
.gitignore
.dockerignore

# Ignore node_modules directory
node_modules/

# Ignore build artifacts
dist/
build/
.next/

# Ignore pnpm-lock.yaml file
pnpm-lock.yaml

# Ignore mis files
README.md