
.home {
   background: #f5f6fa;
   height: 100vh;
}

.header {
   display: flex;
   justify-content: center;
   background: #192a56
}

.title {
   color: white;
   font-size: 1.5rem;
   padding: 20px 10px;
}